{{#if isLoggedIn}}
<a href='/user/logout'>logout</a>
{{/if}}

{{#unless isLoggedIn}}
<form action='/user/login' method='POST'>
    <div class="vbox">
        <div class="hbox">
            <input type='text' name='username' class='shorttextbox' placeholder="username" tabindex=2 required>
            <button tabindex=4>login</button>
        </div>
        <div class="hbox">
            <input type='password' name='password' class='shorttextbox' placeholder="password" tabindex=3 required>
            <a href='/user/register' tabindex=5>register</a>
        </div>
    </div>
</form>
{{/unless}}