<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel='stylesheet' type='text/css' href='/reset.css'>
	<link rel='stylesheet' type='text/css' href='/style.css'>
</head>
<body>
	<header>
		<div><a href='/' class='mainlink'>forum1</a></div>
		<div class='filler'></div>
		<div class='loginbox'>{{> login}}</div>
	</header>
	{{message}}
	{{{body}}}
</body>
</html>