<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' type='text/css' href='/reset.css'>
    <link rel='stylesheet' type='text/css' href='/style.css'>
</head>
<body>
    <header>
        <a href='/' class='mainlink' tabindex=1>forum1</a>
        <div class='filler'></div>
        <div class='loginbox'>{{> login}}</div>
    </header>
    {{message}}
    {{{body}}}
</body>
</html>