{{#if isLoggedIn}}
<form action='/new' method='post'>
    <div class='newpostbox'>
        <input type='text' name='title' class='threadtitleinputbox' placeholder="title" required>
        <div class='hbox'><textarea name='content' class='textarea' required></textarea></div>
        <button type='submit'>post</button>
    </div>
</form>
{{/if}}
{{#unless isLoggedIn}}
<p>login to post a new thread</p>
{{/unless}}