<form action='/thread/new' method='post'>
    <input type='text' name='title' placeholder="title" required>
    <input type='textarea' name='content' required>
    <button type='submit'>post</button>
</form>