

<div>
	<table id="" class="" border="1">
		{{#each postArray}}
		<tr data-id="{{this.id}}">
			<td class="left">
				<div>
					<input type="text" name="user" value="{{this.user}}"/>
					<input type="text" name="time" value="{{this.time}}"/>
				</div>
			</td>
			<td class="right">
				<input type="" name="">
			</td>

		</tr>



	</table>
</div>