{{#if isLoggedIn}}
<p><a href='/user/registerlogout'>logout</a> before registering a new account</p>
{{/if}}
{{#unless isLoggedIn}}
<form action='/user/register' method='POST'>
   <input type='text' name='username' placeholder="username">
   <input type='password' name='password' placeholder="password">
   <button>register</button>
</form>
{{/unless}}