body {
    color: white;
    background-color: black;
}

header {
    display: flex;
    border: solid white 1px;
}

button {
    width: 60px;
}

a:link {
    color: powderblue;
}

a:visited {
    color: plum;
}

a:active, a:hover {
    color: white;
}

.mainlink:link, .mainlink:visited {
    color: white;
}

.threadbox {
    display: flex;
    border: solid white 1px;
}

.filler {
    flex-grow: 1;
}

.vbox {
    display: flex;
    flex-direction: column;
}

.hbox {

}

.loginbox {

}

.postbox {
    display: flex;
    border: solid white 1px;
}

.postbox .left {
    display: flex;
    flex-direction: column;
    border-right: solid white 1px;
}

.postbox .right {
    flex-grow: 1;
}

.shorttextbox {
    width: 125px;
}

.hidden {
    display: none;
}