body {
    color: white;
    background-color: black;
    padding: 3px;
}

header {
    display: flex;
    border: solid white 1px;
    margin: 3px;
    padding: 6px;
}

button {
    width: 50px;
}

a:link {
    color: powderblue;
}

a:visited {
    color: plum;
}

a:active, a:hover {
    color: white;
}

.mainlink:link, .mainlink:visited {
    color: white;
}

.filler {
    flex-grow: 1;
}

.filler2 {
    height: 3px;
}

.filler3 {
    width: 3px;
}

.vbox {
    display: flex;
    flex-direction: column;
}

.hbox {
    display: flex;
}

.loginbox {

}

.threadtitlebox {
    display: flex;
    margin: 3px;
    padding: 6px;
}

.threadbox {
    display: flex;
    border: solid white 1px;
    margin: 3px;
    padding: 6px;
}

.postbox {
    display: flex;
    border: solid white 1px;
    margin: 3px;
    padding: 6px;
}

.postbox .left {
    display: flex;
    flex-direction: column;
    border-right: solid white 1px;
    padding-right: 6px;
    width: 120px;
}

.postbox .right {
    display: flex;
    flex-grow: 1;
    padding-left: 6px;
}

.shorttextbox {
    width: 125px;
}

.hidden {
    display: none;
}

.forumtitle {
    display: flex;
    align-items: center;
}

.newpostbox {
    display: flex;
    flex-direction: column;
    border: solid white 1px;
    margin: 3px;
    padding: 6px;
}

.textarea {
    flex-grow: 1;
}

.threadtitleinputbox {

}